.contenido{
    min-height: 100vh;
    display: flex;
    justify-content: space-evenly;
}
.form-buttons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.onlyButtons{
    display: flex;
    width: 20%;
    height: 300px;
}
.buttonsFixed{
    position: fixed;
}

.mantenimientos{
    width: 80%;
}

@media screen and (max-width: 425px){
    .buttons{
        border-radius: 15px;
        box-shadow: 2px 2px 20px rgb(0 0 0 / 50%);
    }
    .buttonsFixed{
        transition: .5s ease-in-out;
    }
    .mostrar{
        transform: translateX(30px);
        -webkit-transform:  translateX(30px) !important;
    }
    .ocultar{
        transform: translateX(-110px) !important;
        -webkit-transform: translateX(-110px) !important;
    }
}