.contenido{
    min-height: 100vh;
    display: flex;
    justify-content: space-evenly;
}
.form-buttons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.onlyButtons{
    display: flex !important;
    width: 20%;
    height: 300px;
}
.buttonsFixed{
    position: fixed;
}

.mantenimientos{
    width: 80%;
}

/*Con esta clase se ajusta la posicion del formulario para que los botones se vean bien en celular*/
.ajustar{
    position: fixed;
    transform: translateY(200px);
}

@media screen and (max-width: 425px){
    .onlyButtons{
        width: fit-content !important;
        height: fit-content !important;
    }  
    .buttons{
        border-radius: 15px;
        box-shadow: 2px 2px 20px rgb(0 0 0 / 50%);
    }
    .buttonsFixed{
        transition: .5s ease-in-out;
    }
    .mostrar{
        transform: translateX(0px);
        -webkit-transform:  translateX(0px) !important;
    }
    .ocultar{
        transform: translateX(-280px) !important;
        -webkit-transform: translateX(-280px) !important;
    }
}