.contenido{
    min-height: 100vh;
    display: flex;
    justify-content: space-evenly;
}
.form-buttons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.onlyButtons{
    display: flex;
    width: 10%;
    height: 200px;
}
.buttonsFixed{
    position: fixed;
}

.mantenimientos{
    width: 80%;
}